In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.22.4 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
df=pd.read_csv(r'C:\Users\hp\Downloads\archive\AWCustomers.csv')
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [4]:
df.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

In [5]:
selected_features=[
    'CustomerID','AddressLine1','AddressLine2','City','StateProvinceName','CountryRegionName','PostalCode', 'PhoneNumber','Occupation','Gender','NumberCarsOwned', 'NumberChildrenAtHome','YearlyIncome'
]
df_selected=df[selected_features]
df_selected

,CustomerID,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,Occupation,Gender,NumberCarsOwned,NumberChildrenAtHome,YearlyIncome
0,21173,7090 C. Mount Hood,NaN,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,Clerical,M,3,0,81916
1,13249,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,Clerical,M,2,1,81076
2,29350,1774 Tice Valley Blvd.,NaN,West Covina,California,United States,91791,120-555-0111,Clerical,F,3,0,86387
3,13503,2103 Baldwin Dr,NaN,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,Skilled Manual,M,2,1,61481
4,22803,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,Skilled Manual,M,1,0,51804
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,6627 Camelback Ct.,NaN,Coronado,California,United States,92118,292-555-0130,Skilled Manual,F,1,0,52953
18357,11459,9627 Kendall Rd,NaN,Port Macquarie,New South Wales,Australia,2444,1 (11) 500 555-0171,Skilled Manual,F,2,0,60992
18358,12160,4364 Viera Avenue,NaN,Beaverton,Oregon,United States,97005,819-555-0110,Skilled Manual,F,2,0,51859
18359,14353,3866 Mt. Everest Court,NaN,Vancouver,British Columbia,Canada,V7L 4J4,791-555-0118,Clerical,F,0,0,87177
18360,16676,7870 Orangewood Dr.,NaN,Grossmont,California,United States,91941,553-555-0122,Professional,F,2,0,136856

In [6]:
df_selected.isnull().sum()

CustomerID                  0
AddressLine1                0
AddressLine2            18050
City                        0
StateProvinceName           0
CountryRegionName           0
PostalCode                  0
PhoneNumber                 0
Occupation                  0
Gender                      0
NumberCarsOwned             0
NumberChildrenAtHome        0
YearlyIncome                0
dtype: int64

In [10]:
df_selected.dropna()

,CustomerID,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,Occupation,Gender,NumberCarsOwned,NumberChildrenAtHome,YearlyIncome
19,28455,Zollstr 68,Verkaufsabteilung,Darmstadt,Hessen,Germany,64283,1 (11) 500 555-0165,Management,M,2,0,113276
160,25368,7550 Carzino Ct,# 1,Seattle,Washington,United States,98104,455-555-0126,Skilled Manual,M,1,0,54240
359,26991,Auf den Kuhlen StraÃŸe 5677,Verkaufsabteilung,MÃ¼nster,Saarland,Germany,48001,1 (11) 500 555-0128,Clerical,M,0,0,79952
379,14174,Celler Weg 3040,Verkaufsabteilung,Berlin,Hessen,Germany,14129,1 (11) 500 555-0161,Skilled Manual,M,2,1,54516
517,15278,9570 Royal Links Ct,# 24,San Carlos,California,United States,94070,839-555-0181,Clerical,M,1,0,84251
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18106,23820,6179 Norris Court,# 9,Beaverton,Oregon,United States,97005,597-555-0171,Professional,F,1,0,130410
18108,26358,HÃ¼ttenstr 7005,Kreditorenbuchhaltung,Paderborn,Nordrhein-Westfalen,Germany,33098,1 (11) 500 555-0178,Clerical,M,0,0,86755
18244,22705,Berliner Platz 994,Einkaufsabteilung,Berlin,Hessen,Germany,14111,1 (11) 500 555-0119,Skilled Manual,F,1,0,61207
18289,27127,Platz des Landtags 550,Kreditorenbuchhaltung,Paderborn,Hamburg,Germany,33041,1 (11) 500 555-0112,Clerical,F,0,0,80279
18350,16011,3469 Relief Valley Ct.,# 22,Royal Oak,British Columbia,Canada,V8X,459-555-0122,Clerical,F,1,0,87320

In [11]:
df_selected.isna().sum()

CustomerID                  0
AddressLine1                0
AddressLine2            18050
City                        0
StateProvinceName           0
CountryRegionName           0
PostalCode                  0
PhoneNumber                 0
Occupation                  0
Gender                      0
NumberCarsOwned             0
NumberChildrenAtHome        0
YearlyIncome                0
dtype: int64

In [16]:
%pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.7.1-cp310-cp310-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.8.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.15.3)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.1-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.1-cp310-cp310-win_amd64.whl (8.9 MB)
   ---------------------------------------- 0.0/8.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/8.9 MB ? eta -:--:--
   - -------------------------------------- 0.3/8.9 MB ? eta -:--:--
   -- ------------------------------------- 0.5/8.9 MB 1.0 MB/s eta 0:00:08
   ---- ----------------------------------- 1.0/8.9 MB 1.5 MB/s eta 0:00:06
   ------- -------------------------------- 1.6/8.9 MB 1.7 MB/s eta 0:00:05
   --------- ------------------------------ 2.1/8.9 MB 1.9 MB/s eta 0:00:04
   ----------- ---------------------------- 2.6/8.9 MB 2.0 MB/s eta 0:00:04
   -------------- ------------------------- 3.1/8.9 MB 2.1 MB/s eta 0:00:03
   ---------------- ----------------------- 3.7/8.9 MB 2.2 MB/s eta 0:00:03
   ------------------ --------------------- 4.2/8.9 MB 2.2 MB/s eta 0:00:03
   --------------------- ------------------ 4.7/8.9 MB 2.2 MB/s eta 0:00:02
   ----------------------- ---------------- 5.2/8.9 MB 2.2 MB/s eta 0:00:02
   ------------------------ --------------- 5.5/8.9 MB 2.2 MB/s eta 0:00:02
   --------------------------- ------------ 6.0/8.9 MB 2.1 MB/s eta 0:00:02
   ------------------------------ --------- 6.8/8.9 MB 2.2 MB/s eta 0:00:01
   -------------------------------- ------- 7.3/8.9 MB 2.2 MB/s eta 0:00:01
   ---------------------------------- ----- 7.6/8.9 MB 2.2 MB/s eta 0:00:01
   ----------------------------------- ---- 7.9/8.9 MB 2.1 MB/s eta 0:00:01
   ------------------------------------- -- 8.4/8.9 MB 2.1 MB/s eta 0:00:01
   -------------------------------------- - 8.7/8.9 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 8.9/8.9 MB 2.0 MB/s eta 0:00:00
Downloading joblib-1.5.1-py3-none-any.whl (307 kB)
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn

   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   ---------------------------------------- 3/3 [scikit-learn]

Successfully installed joblib-1.5.1 scikit-learn-1.7.1 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [20]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df_selected.loc[:,'YearlyIncome']=scaler.fit_transform(df_selected['YearlyIncome'].values.reshape(-1,1)).flatten()

In [21]:
df_selected['YearlyIncome']

0        0.496842
1        0.489453
2        0.536172
3        0.317083
4        0.231958
           ...
18356    0.242065
18357    0.312781
18358    0.232442
18359    0.543121
18360    0.980128
Name: YearlyIncome, Length: 18361, dtype: float64

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import jaccard
import numpy as np

# Pick two objects (rows)
row1 = df_transformed.iloc[0].values.reshape(1, -1)
row2 = df_transformed.iloc[1].values.reshape(1, -1)

# (a) Similarities
# Simple Matching Coefficient (SMC)
def simple_matching(x, y):
    return np.sum(x == y) / len(x)

smc = simple_matching(df_transformed.iloc[0].values, df_transformed.iloc[1].values)

# Jaccard Similarity (for binary attributes only)
jaccard_sim = 1 - jaccard(df_transformed.iloc[0].values, df_transformed.iloc[1].values)

# Cosine Similarity
cosine_sim = cosine_similarity(row1, row2)[0][0]

print("Simple Matching:", smc)
print("Jaccard Similarity:", jaccard_sim)
print("Cosine Similarity:", cosine_sim)

# (b) Correlation between Commute Distance & Yearly Income
corr = df['CommuteDistance'].astype('category').cat.codes.corr(df['YearlyIncome'])
print("Correlation (CommuteDistance vs YearlyIncome):", corr)